/* Google Fonts ---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto+Mono:wght@300&display=swap');

/* General CSS ---------------------------------- */
body {
    margin:0;
    padding:0;
    font-family: 'oswald', sans-serif;
    overflow-x: hidden;
    font-size: 16px
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #616161;
}

h2 {
    color: #444444;
    font-family: poppins, sans-serif;
    font-size: 1.75em;
    text-decoration: underline;
    text-transform: uppercase
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #1c75bc;
    border-radius: 50%;
    display: inline-block;
}

.container {
    display: flex;
}

a {
    text-decoration: none;
}
/* ---------------------------------- */

/* Navbar---------------------------------- */
.navbar {
    width: 100%;
    height: 60px;
    display: inline-block;
    padding-top: 2.5%;
    background-color: #F7F7F7;
    margin-bottom: -4px;
}

nav {
    margin-right: 12.5%;
}

.border {
    height: 1px;
    width: 100%;
    background-color:lightgrey;
}

.brand {
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-left: 12.5%;
    font-size: 1.2em;
    color: #808080;
    letter-spacing: 2px;
    transform: translateX(-100rem);
    animation: slidein .5s forwards;
}

.brand a {
    color: #808080
}

.brand span {
    color: #1c75bc;
}

.navbarli ul {
    list-style:none;
    text-align: center;
    margin: 0;
    padding-right: 20px;
}

.navbarli li {
    font-size: 1.2em;
    height: 40px;
    display: inline-block;
    margin-right: 4.5%;
    float: right;
    transform: translateX(100rem);
    animation: slidein .5s forwards;
}

.navbarli a {
    text-decoration: none;
    color: grey;
    display: block;
}

.navbarli a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #1c75bc;
    transition: width .3s
}

.navbarli a:hover::after {
    width: 100%;
    transition: .5s;
}

@keyframes slidein {
    from{

    }
    to{
        transform: translateX(0)
    }
}

.navbarli li:nth-child(5) {
    animation-delay: 0s;
}

.navbarli li:nth-child(4) {
    animation-delay: .4s;
}

.navbarli li:nth-child(3) {
    animation-delay: .8s;
}

.navbarli li:nth-child(2) {
    animation-delay: 1.2s;
}

.navbarli li:nth-child(1) {
    animation-delay: 1.6s;
}
/* ---------------------------------- */

/* Hero Section---------------------------------- */
.hero {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    text-align: center;
    width: 100%;
    height: 700px;
    align-content: center;
    background-color: #F7F7F7;
}

.heroimage {
    width: 60%;
    height: 95%;
    -ms-transform: skewY(6deg); /* IE 9 */
    transform: skewY(6deg);
    background-repeat:no-repeat;
    background-size:cover;
}

.herotext {
    margin: 10%;
    margin-left: 45%;
    text-align: left;
    color: #808080;
}

.herotext h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25em;
    color: #616161;
}

.herotext h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.75em;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: arial
}

.herotext p {
    font-size: 1.20em
}

.herobutton1 {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    width: 110px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 15px
}



.herobutton1:hover {
    background-color: #1c75bc;
    color: white;
    border-color: #1c75bc;
    transition: 0.5s;
}

.herobutton2 {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    text-transform: uppercase;
    background-color:#1c75bc;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 15px
}

.herobutton2:hover {
    background-color: #627EDC;
    color: white;
    transition: 0.5s;
}

/* ---------------------------------- */

/* Services Section---------------------------------- */

.services {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
    background-color: white;
}

.services p {
    font-size: 18px
}

.accountmanagement {
   width: 100%;
}

.forexsignals {
    width: 100%;
    padding-left: 8%  
}

.container {
    display: flex;
}


.accountmanageimage {
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-left: 35%;
    margin-right: 30px;
    margin-top: 50px
    
}

.forexsignalsimage {
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-right: 30px;
    margin-top: 50px
}
/* ---------------------------------- */

/* Why Invest Section---------------------------------- */
.whyinvest {
    width: 65%;
    background-color: #F7F7F7;
    margin: 0;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.whyinvest h2 {
    letter-spacing: 2px;
    padding-top: 20px;
}

.whyinvest h2:nth-child(1) {
    padding-top: 0px;
    margin: 0
}

.whyinvest p {
    color: #616161
}

.whyinvest span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #616161;
    font-weight: 700; 
}
/* ---------------------------------- */

/* Analysis Section---------------------------------- */
.analysissection {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    width: 100%;
    align-content: center;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.analysisimage1 {
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-left: 20%;
}

.analysisimage2 {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.technicalan {
    width: 65%;
    padding-left: 35%
}

.tech_img {
    height: 28px;
    width: 28px;
    padding-left: 7px;
}

.fundamentalan {
    width: 65%;
    padding-right: 35%;
}

.fund_img {
    height: 28px;
    width: 28px;
    padding-left: 10px;
}
/* End Of Analysis Section---------------------------------- */

/* Contact Form Section---------------------------------- */
.contactform {
  width: 55%;
  padding-left: 22.5%;
  padding-right: 22.5%;
  
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #F7F7F7;
}

.contactform h2 {
    margin: 0
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 30px;
}

.contact form p {
  margin: 0;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 93%;
  padding: 1em;
  border: solid 1px #1c75bc;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #1c75bc;
  width: 99%;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color .5s ease-out;
}

#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
    background-position: 95%;
	background-repeat: no-repeat;
}

#email {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 95%;
	background-repeat: no-repeat;
}

#phone {
	background-image: url(https://www.peabody.org.uk/images/rebrand2018_svg/phone.icon.svg);
	background-size: 30px 30px;
	background-position: 95%;
	background-repeat: no-repeat;
}
/* End Of Contact Section---------------------------------- */

/* Social Media Section---------------------------------- */
.freesignals {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-content: center;
}

.freesignalstext {
    padding-top: 10px
}

.freesignals span {
    font-family: poppins;
    text-transform: uppercase
}

.freesignals p {
    font-size: 18px
}

.forexsignalsimages {
    align-content: center;
}

.image3 {
    height: 500px;
    width: 300px;
    margin-left: 40%;
}

.signalsocialicons {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.signalsocialicons:hover {
    box-shadow: 1px 1px 1px black;
    border-radius: 60%;
}

.signalsocialiconsinstagram {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.signalsocialiconsinstagram:hover {
    box-shadow: 1px 1px 1px black;
    border-radius: 40%;
}
/* End Of Socials Section---------------------------------- */

/* Footer---------------------------------- */
footer {
        background-color: #F7F7F7;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 0;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    align-content: center;
}

.footerheader {
    font-family: poppins
}

footer a {
    text-decoration: underline;
    color: black
}

.lowerfooter {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 40px;
    align-content: center;
}

.dividingline {
    height: 1px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
}

.designedby {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
}

.designedbytext {
    padding-left: 275px
}

.designedbyimage {
    padding-right: 300px
}

.responsivecopyright {
    display: none;
}
/* End Of Footer---------------------------------- */

/* -------------------------------------------------  Next Page ------------------------------------------------- */

/* Terms & Conditions ---------------------------------- */
.subtitle {
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: #F7F7F7;
    border-bottom: 1px solid lightgrey;
}

.subtitle h2 {
    margin: 0;
    margin-left: 12.5%;
    padding-top: 15px;
    font-size: 24px;
    font-family: cursive, sans-serif;
    color: grey;
    text-shadow: 1px 1px 1px lightgrey;
    text-transform: uppercase;
}

.contentssection {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px
}

.contentssection h3 {
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
}

.contentssection p {
    padding-top: 5px;
    padding-bottom: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.small {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.contentssection p:nth-child(2) {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px
}

.contentssection p:nth-child(3) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.contentssection p:nth-child(4) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.contentssection p:nth-child(5) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}
/* End Of Terms & Conditions ---------------------------------- */

/* -------------------------------------------------  Next Page ------------------------------------------------- */

/* Privacy Policy ---------------------------------- */
.contentssectionpp {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px
}

.contentssectionpp h3 {
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    padding-top: 30px;
}
/* End Of Privacy Policy ---------------------------------- */

/* ---------------------------------- Media Querys ---------------------------------- */

/* Mobile Media Querys---------------------------------- */
@media only screen
and (min-width: 321px)
and (max-width: 480px){
    
   /* General--------------- */

    html{
        width: 100%;
        overflow-x: hidden;
    }

    .container{
        display: block;
    }

    .dot {
        height: 6px;
        width: 6px;
        margin-right: 8px;
        background-color: #1c75bc;
        border-radius: 50%;
        display: inline-block;
    }

    /* Header--------------- */

    .brand{
        margin-left:25%;
        padding-top: 10px;
    }
    
    .navbar{
        height: 40px
    }

    .navbarli{
        display: none
    }

    /* Hero--------------- */

    .hero{
        display: block;
        width: 80%;
        height: 450px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top:5px; 
        align-content: center;
    }

    .herotext{
        padding: 0;
        margin: 0;
    }

    .herotext h1{
        font-size: 14px
    }

    .herotext h2{
        font-size: 14px
    }

    .herotext p{
        font-size: 12px
    }

    .hero a{
        margin: 0;
        margin-right: 10px;
        padding: 0;
        display: inline-block
    }

    .herobutton2 a{
        width: 40%;
        height: 18px;
        font-size: 10px;
        padding-top: 5px;
    }

    .herobutton1 a{
        margin-right: 50px;
        width: 30%;
        height: 18px;
        font-size: 10px;
        padding-top: 5px;
    }

    .heroimage{
        display: none;
    }

    /* Services--------------- */

    .services{
        display: block;
        margin: 0;
        height: 590px;
    }

    .accountmanageimage{
        padding-top: 20px
    }

    .accountmanageimage,
    .forexsignalsimage{
        margin: 0;
        height: 120px;
        width: 40%;
        padding-right: 30%;
        padding-left: 30%;
    }

    .accountmanagement h3,
    .forexsignals h3{
        font-size: 12px;
        margin: 0;
        margin-bottom: 12px;
        text-align: center
    }

    .accountmanagement,
    .forexsignals{
        margin: 0;
        padding: 0;
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .services p{
        font-size: 12px;
        padding-left: 25px;
        margin: 10px;
    }

    /* Contact Form--------------- */

    .callback-info h3{
        font-size: 14px
    }

    .callback-info p{
        display: none;
    }

    .contactform{
        height: 165px;
        width: 87.5%;
        padding-left: 7.5%;
        padding-right: 5%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    /* Analysis--------------- */

    .analysissection{
        display: block;
        margin: 0;
        height: 440px;
    }

    .analysissection p{
        font-size: 12px
    }

    .analysisimage1,
    .analysisimage2{
        margin: 0;
        margin-top: 25px;
        height: 120px;
        width: 40%;
        padding-right: 30%;
        padding-left: 30%;
    }

    .technicalan h3,
    .fundamentalan h3{
        font-size: 12px;
        margin: 0;
        margin-bottom: 12px;
        text-align: center
    }

    .technicalan p,
    .fundamentalan p{
        font-size: 10px;
        margin: 0;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .technicalan p br,
    .fundamentalan p br{
        display: none;
    }

    .fundamentalan {
    margin: 0;
    }

    /* Socials--------------- */

    .freesignals{
        display: block;
        height: 240px;
        width: 87.5%;
        padding-left: 7.5%;
        padding-right: 5%;
    }

    .image3{
        display: none
    }

    .freesignalstext h3{
        font-size: 14px;
        padding-top: 40px;
    }

    .freesignalstext p {
        font-size: 11px
    }

    .freesignalssocials{
        display: inline-block;
        width: 100%;
    }

    .signalsocialicons,
    .signalsocialiconsinstagram{
        height: 65px;
        width: 65px;
        margin: -4px
    }

    /* Footer--------------- */

    .footer{
        display: inline;
    }

    footer p{
        font-size: 10px
    }

    .footeraddress{
        display: none;
    }

    .footerlegal{
        margin-top: -15px
    }

    .lowerfooter{
        display: block;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding: 20px;
        padding-bottom: 30px;
    }

    .copyright{
        display: none
    }

    .designedby{
        display: inline-block
    }

    .designedbytext{
        float: left;
        margin: 0;
        padding: 0;
    }

    .designedbyimage{
        float: right;
        margin: 0;
        padding: 0;
    }

    .responsivecopyright{
        display: block;
        padding: 5px;
        padding-left: 40px;
        text-align: center
        
    }
}

/* Tablet Media Querys---------------------------------- */

@media only screen
and (min-width: 766px)
and (max-width: 1024px){

    /* General--------------- */

    html{
        width: 100%;
        overflow-x: hidden;
    }

    .container{
        display: block;
    }

    .dot {
        height: 6px;
        width: 6px;
        margin-right: 8px;
        background-color: #1c75bc;
        border-radius: 50%;
        display: inline-block;
    }

    /* Header--------------- */

    .brand{
        width: 30%;
        padding-left:35%;
        padding-right: 35%;
        padding-top: 10px;
        margin:0;
    }
    
    .navbar{
        height: 40px
    }

    .navbarli{
        display: none
    }

    /* Promo--------------- */

    .promobanner{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 0;
        text-align: center;
        width: 100%;
        height: 700px;
        align-content: center;
        background-color: #F7F7F7;
    }

    .promobannerimage {
       width: 100%;
       height: 580px;
       -ms-transform: skewY(6deg); /* IE 9 */
       transform: skewY(6deg);
       background-repeat:no-repeat;
       background-size:cover;
       float: left;
    }

    .promobannertext{
        width: 100%;
        padding-left: 10%;
        padding-top: 20%;
        margin: 0;
    }

    .promobannerh3{
        font-size: 16px
    }

    .promobannerh32{
        font-size: 16px
    }

    .promobannertext p{
        font-size: 14px
    }

    .promobanner a{
        margin: 0;
        margin-right: 10px;
        padding: 0;
        display: inline-block
    }

    .promotextbutton2 a{
        width: 45%;
        height: 26px;
        font-size: 13px;
        padding-top: 10px;
    }

    .promotextbutton1 a{
        margin-right: 50px;
        width: 35%;
        height: 26px;
        font-size: 13px;
        padding-top: 10px;
    }

    .promobannerimage{
        display: inline-block;
    }

    /* Services--------------- */

    .homeservices{
        display: block;
        margin: 0;
        height: 420px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 0;
    }

    .accountmanageimage,
    .forexsignalsimage{
        margin: 0;
        height: 160px;
        width: 60%;
        padding-right: 20%;
        padding-left: 20%;
    }

    .accountmanagement h3,
    .forexsignals h3{
        font-size: 15px;
        margin: 0;
        margin-bottom: 12px;
        text-align: center
    }

    .accountmanagement,
    .forexsignals{
        margin: 0;
        padding: 0;
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }

    .homeservices p{
        font-size: 14px;
        padding-left: 25px;
        margin: 10px;
    }

    /* Contact Form--------------- */

    .callback-info h3{
        font-size: 14px
    }

    .callback-info p{
        display: none;
    }

    .contactform{
        height: 160px;
        width: 87.5%;
        padding-left: 7.5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    /* Analysis--------------- */

    .analysissection{
        display: block;
        margin: 0;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 0;
    }

    .analysissection p{
        font-size: 14px
    }

    .analysisimage1,
    .analysisimage2{
        margin: 0;
        margin-top: 5px;
        height: 120px;
        width: 40%;
        padding-right: 30%;
        padding-left: 30%;
    }

    .technicalan h3,
    .fundamentalan h3{
        font-size: 15px;
        margin: 0;
        margin-bottom: 12px;
        text-align: center
    }

    .technicalan p,
    .fundamentalan p{
        font-size: 14px;
        margin: 0;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .technicalan p br,
    .fundamentalan p br{
        display: none;
    }

    .fundamentalan {
    margin: 0;
    }

    /* Socials--------------- */

    .freesignals{
        display: block;
        height: 480px;
        width: 98%;
        padding:1%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 0;
    }

    .freesignalstext{
        margin-left: -20px
    }

    .forexsignalsimages{
        padding-left: 40px
    }

    .image3{
        display: inline-block;
        padding: 0;
        margin:0;
    }

    .freesignalstext h3{
        font-size: 16px;
        padding-top: 40px;
    }

    .freesignalstext p {
        font-size: 13px
    }

    .freesignalssocials{
        display: inline-block;
        width: 100%;
    }

    .signalsocialicons,
    .signalsocialiconsinstagram{
        height: 65px;
        width: 65px;
        margin: -4px
    }

    /* Footer--------------- */

    .footer{
        display: inline;
    }

    footer p{
        font-size: 13px
    }

    .footeraddress{
        display: none;
    }

    .footerlegal{
        margin-top: -15px
    }

    .lowerfooter{
        display: block;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding: 20px;
        padding-bottom: 30px;
    }

    .copyright{
        display: none
    }

    .designedby{
        display: inline-block
    }

    .designedbytext{
        float: left;
        margin: 0;
        padding: 0;
    }

    .designedbyimage{
        float: right;
        margin: 0;
        padding: 0;
    }

    .responsivecopyright{
        display: block;
        padding: 5px;
        padding-left: 40px;
        text-align: center
        
    }

}


/* End---------------------------------- */