/* Google Fonts ---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto+Mono:wght@300&display=swap');

/* General CSS ---------------------------------- */
body {
    margin:0;
    padding:0;
    font-family: 'oswald', sans-serif;
    overflow-x: hidden;
    font-size: 16px
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #616161;
}

h2 {
    color: #444444;
    font-family: poppins, sans-serif;
    font-size: 1.75em;
    text-decoration: underline;
    text-transform: uppercase
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #1c75bc;
    border-radius: 50%;
    display: inline-block;
}

.container {
    display: flex;
}

a {
    text-decoration: none;
}
/* ---------------------------------- */

/* Navbar---------------------------------- */
.navbar {
    width: 100%;
    height: 60px;
    display: inline-block;
    background-color: #F7F7F7;
    padding-top: 50px;
    margin-bottom: -4px
}

nav {
    margin-right: 12.5%;
}

.border {
    height: 1px;
    width: 100%;
    background-color:lightgrey;
}

.brand {
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-left: 12.5%;
    font-size: 1.2em;
    color: #808080;
    letter-spacing: 2px;
    transform: translateX(-100rem);
    animation: slidein .5s forwards;
}

.brand a {
    color: #808080
}

.brand span {
    color: #1c75bc;
}

.navbarli ul {
    list-style:none;
    text-align: center;
    margin: 0;
    padding-right: 20px;
}

.navbarli li {
    font-size: 1.2em;
    height: 40px;
    display: inline-block;
    margin-right: 4.5%;
    float: right;
    transform: translateX(100rem);
    animation: slidein .5s forwards;
}

.navbarli a {
    text-decoration: none;
    color: grey;
    display: block;
}

.navbarli a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #1c75bc;
    transition: width .3s
}

.navbarli a:hover::after {
    width: 100%;
    transition: .5s;
}

@keyframes slidein {
    from{

    }
    to{
        transform: translateX(0)
    }
}

.navbarli li:nth-child(5) {
    animation-delay: 0s;
}

.navbarli li:nth-child(4) {
    animation-delay: .4s;
}

.navbarli li:nth-child(3) {
    animation-delay: .8s;
}

.navbarli li:nth-child(2) {
    animation-delay: 1.2s;
}

.navbarli li:nth-child(1) {
    animation-delay: 1.6s;
}
/* ---------------------------------- */

/* Hero Section---------------------------------- */
.hero {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    text-align: center;
    width: 100%;
    height: 700px;
    align-content: center;
    background-color: #F7F7F7;
}

.heroimage {
    width: 60%;
    height: 95%;
    -ms-transform: skewY(6deg); /* IE 9 */
    transform: skewY(6deg);
    background-repeat:no-repeat;
    background-size:cover;
}

.herotext {
    margin: 10%;
    margin-left: 45%;
    text-align: left;
    color: #808080;
}

.herotext h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25em;
    color: #616161;
}

.herotext h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.75em;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: arial
}

.herotext p {
    font-size: 1.20em
}

.herobutton1 {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    width: 110px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 15px
}

.herobutton1:hover {
    background-color: #1c75bc;
    color: white;
    border-color: #1c75bc;
    transition: 0.5s;
}

.herobutton2 {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    text-transform: uppercase;
    background-color:#1c75bc;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 15px
}

.herobutton2:hover {
    background-color: #627EDC;
    color: white;
    transition: 0.5s;
}
/* ---------------------------------- */

/* Services Section---------------------------------- */
.services {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
    background-color: white;
}

.services p {
    font-size: 18px
}

.accountmanagement {
   width: 100%;
}

.forexsignals {
    width: 100%;
    padding-left: 8%  
}

.container {
    display: flex;
}

.accountmanageimage {
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-left: 35%;
    margin-right: 30px;
    margin-top: 50px
    
}

.forexsignalsimage {
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-right: 30px;
    margin-top: 50px
}

.signalsimage_mobile {
    display: none
}
/* ---------------------------------- */

/* Why Invest Section---------------------------------- */
.whyinvest {
    width: 65%;
    background-color: #F7F7F7;
    margin: 0;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.whyinvest h2 {
    letter-spacing: 2px;
    padding-top: 20px;
}

.whyinvest h2:nth-child(1) {
    padding-top: 0px;
    margin: 0
}

.whyinvest p {
    color: #616161;
    font-size: 1.1em
}

.how_why {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10%;
    width: 90%;
}

.how_why h2 {
    text-align: center
}

.when {
    padding-top: 60px
}

.when h2 {
    text-align: center;
}

.why_not {
    padding-top: 30px
}

.why_not span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #616161;
    font-size: 1.6em;
    font-weight: 700; 
}

.why_not_points {
    display: grid;
    grid-template-columns: repeat( 2, 50%);
    grid-column-gap: 10%;
    width: 90%;
}

.why_not_image_div {
    padding-left: 20%
}
    
.why_not_image {
    width: 350px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    transform: scaleX(-1);
    border-radius: 50%;
}

.why_not_bulletpoints{
    padding-top: 8%;
    width: 70%;
}


/* End Of Why Invest Section---------------------------------- */

/* Analysis Section---------------------------------- */
.analysissection {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    width: 100%;
    align-content: center;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tech_analysis {
    width: 65%;
    padding-left: 35%
}

.tech_img {
    height: 28px;
    width: 28px;
    padding-left: 7px;
}

.fund_analysis {
    width: 65%;
    padding-right: 35%;
}

.fund_img {
    height: 28px;
    width: 28px;
    padding-left: 10px;
}
/* End Of Analysis Section---------------------------------- */

/* Contact Form Section---------------------------------- */
.contactform {
  width: 55%;
  padding-left: 22.5%;
  padding-right: 22.5%;
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #F7F7F7;
}

.contactform h2 {
    margin: 0
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 30px;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 93%;
  padding: 1em;
  border: solid 1px #1c75bc;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #1c75bc;
  width: 99%;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button a{
    color: #ffffff
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color .5s ease-out;
}

#name {
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
    background-position: 95%;
	background-repeat: no-repeat;
}

#email {
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 95%;
	background-repeat: no-repeat;
}

#phone {
	background-image: url(https://www.peabody.org.uk/images/rebrand2018_svg/phone.icon.svg);
	background-size: 30px 30px;
	background-position: 95%;
	background-repeat: no-repeat;
}

.contact p {    
    text-align: center;
    font-size: 1.5em
}

.contact span {
    font-weight: 600
}
/* End Of Contact Section---------------------------------- */

/* Social Media Section---------------------------------- */
.freesignals {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    align-content: center;
}

.signalstext {
    padding-top: 10px
}

.freesignals span {
    font-family: poppins;
    text-transform: uppercase
}

.freesignals p {
    font-size: 18px
}

.forexsignalsimages {
    align-content: center;
}

.breakdownimage {
    height: 500px;
    width: 300px;
    margin-left: 40%;
}

.socialicons {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.socialicons:hover {
    box-shadow: 1px 1px 1px black;
    border-radius: 60%;
}

.socialicons_instagram {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.socialicons_instagram:hover {
    box-shadow: 1px 1px 1px black;
    border-radius: 40%;
}
/* End Of Socials Section---------------------------------- */

/* Back To Top---------------------------------- */
.top p{
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}

.top p a {
    color: #616161;
}
/* End Of Section---------------------------------- */

/* Footer---------------------------------- */
footer {
        background-color: #F7F7F7;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 0;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    align-content: center;
}

.footerheader {
    font-family: poppins
}

footer a {
    text-decoration: underline;
    color: black
}

.lowerfooter {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 40px;
    align-content: center;
}

.dividingline {
    height: 1px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
}

.designedby {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
}

.designedbytext {
    padding-left: 275px
}

.designedbyimage {
    padding-right: 300px
}

.responsivecopyright {
    display: none;
}
/* End Of Footer---------------------------------- */

/* -------------------------------------------------  Next Page ------------------------------------------------- */

/* Terms & Conditions ---------------------------------- */
.subtitle {
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: #F7F7F7;
    border-bottom: 1px solid lightgrey;
}

.subtitle h2 {
    margin: 0;
    margin-left: 10%;
    padding-top: 15px;
    font-size: 24px;
    color: grey;
    text-shadow: 1px 1px 1px lightgrey;
    text-transform: uppercase;
}

.contentssection {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px
}

.contentssection h2 {
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    font-size: 1.1em
}

.contentssection p {
    padding-top: 5px;
    padding-bottom: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.small {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.contentssection p:nth-child(2) {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px
}

.contentssection p:nth-child(3) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.contentssection p:nth-child(4) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.contentssection p:nth-child(5) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}
/* End Of Terms & Conditions ---------------------------------- */

/* -------------------------------------------------  Next Page ------------------------------------------------- */

/* Privacy Policy ---------------------------------- */
.contentssectionpp {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px
}

.contentssectionpp h2 {
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    font-size: 1.1em
}
/* End Of Privacy Policy ---------------------------------- */

/* ---------------------------------- Media Querys ---------------------------------- */

/* Mobile Media Querys---------------------------------- */
@media only screen
and (min-width: 321px)
and (max-width: 480px){  
   /* General--------------- */
    html {
        width: 100%;
        overflow-x: hidden;
    }

    .container {
        display: block;
    }

    .dot {
        height: 6px;
        width: 6px;
        margin-right: 8px;
        background-color: #1c75bc;
        border-radius: 50%;
        display: inline-block;
    }

    /* Header--------------- */
    .brand {
        margin-left:25%;
        padding-top: 10px;
    }
    
    .navbar {
        height: 40px
    }

    .navbarli {
        display: none
    }

    /* Hero--------------- */
    .hero {
        display: block;
        width: 80%;
        height: 400px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px; 
        padding-bottom: 40px; 
        align-content: center;
    }

    .herotext {
        padding: 0;
        margin: 0;
    }

    .herotext h1 {
        font-size: 2em
    }

    .herotext h2 {
        font-size: 1.5em
    }

    .herotext p {
        font-size: 16px
    }

    .hero a {
        margin: 0;
        margin-right: 10px;
        padding: 0;
        display: inline-block
    }

    .herobutton1 {
        float: right;
        margin-right: 40px;
        margin-top: 10px;
        height: 30px;
        width: 40%;
        text-transform: uppercase;
        background-color: white;
        border: 1px solid grey;
        color: grey;
        text-align: center;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        padding-top: 15px
    }

    .herobutton2 {
        float: left;
        margin-right: 40px;
        margin-top: 10px;
        height: 30px;
        width: 50%;
        text-transform: uppercase;
        background-color:#1c75bc;
        color: white;
        text-align: center;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        padding-top: 15px
    }

    .herotext a {
        padding-top: 10px
    }

    .heroimage {
        display: none;
    }

    /* Services--------------- */
    .services {
        display: inline;
        padding: 0;
        margin: 0;
    }

    .container {
        padding: 0;
        margin: 0
    }

    .accountmanagement,
    .forexsignals {
        margin: 0;
        padding: 0;
    }

    .accountmanagement {
        display: grid;
        grid-template-columns: repeat(2, 30% 70%);
        grid-column-gap: 0;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        height: 170px;
        padding-top: 20px
    }

    .forexsignals {
        display: grid;
        grid-template-columns: repeat(2, 70% 30%);
        grid-column-gap: 0;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5.625px;
        height: 190px;
    }

    .forexsignals h2, p {
        padding-left: 10px
    }

    .accountmanageimage {
        margin: 0;
        height: 120px;
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 35px
    }

    .forexsignalsimage {
        display: none;
    }

    .signalsimage_mobile {
        display: block;
        margin: 0;
        height: 120px;
        width: 90%;
        padding-right: 10%;
        padding-left: 0%;
        padding-top: 35px
    }

    .accountmanagement h2,
    .forexsignals h2 {
        font-size: 1.25em;
        margin: 0;
        margin-top: 12px;
    }

    .services p {
        font-size: 16px;
        margin-bottom: 6px;
        margin-top: 6px;
    }

    /* Why Invest--------------- */
    .whyinvest {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .whyinvest h2 {
        font-size: 1.5em
    }

    .whyinvest p {
        font-size: 16px;
    }

    .whyinvest p:nth-child(8) {
        display: none
    }

    .whyinvest br {
        display: none
    }

    .why_not span {
        font-size: 1.1em
    }

    .how_why {
        display: block;
        width: 100%;
    }

    .why_not_points {
        display: block
    }

    .why_not_image_div {
        display: none
    }

    .why_not_bulletpoints {
        width: 100%;
        padding-top: 0
    }

    .when {
        padding-top: 5px
    }

    /* Analysis--------------- */
    .analysissection {
        display: block;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .tech_analysis {
        width: 100%;
        margin: 0;
        padding: 0
    }

    .fund_analysis {
        width: 100%;
        margin: 0;
        padding: 0

    }

    .fund_analysis h2 {
        padding-top: 20px
    }

    .tech_analysis h2,
    .fund_analysis h2 {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 12px;
        text-align: center
    }

    .tech_analysis p br,
    .fund_analysis p br {
        display: none;
    }

    .fund_analysis {
    margin: 0;
    }

    /* Contact Form--------------- */
    .contactform {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .contact form {
        display: block
    }

    #name,
    #phone,
    #email {
        width: 90%;
    }

    .contact form button {
    width: 98%;
    }

    .contact form input{
        margin-bottom: 10px
    }

    .contact p{
        font-size: 16px
    }

    .callback-info h2 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 10px
    }

    .callback-info p {
        display: none;
    }

    /* Socials--------------- */
    .freesignals {
        display: block;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .breakdownimage {
        display: none
    }

    .signalstext h2 {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }

    .signalstext p {
        font-size: 16px
    }

    .signalssocials {
        display: inline-block;
        width: 100%;
    }

    .socialicons,
    .socialicons_instagram {
        height: 65px;
        width: 65px;
        margin: -2.5px
    }

    /* Footer--------------- */
    footer {
        padding-top: 20px
    }

    .footer {
        display: inline;
    }

    footer p {
        font-size: 12px
    }

    .footeraddress {
        display: none;
    }

    .footerlegal {
        margin-top: -15px
    }

    .lowerfooter {
        display: block;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding: 20px;
        padding-bottom: 30px;
        text-align: right
    }

    .copyright {
        display: none
    }

    .designedby {
        display: inline-block;
    }

    .designedbytext {
        float: left;
        margin: 0;
        padding: 0;
    }

    .designedbyimage {
        float: right;
        margin: 0;
        padding: 0;
    }

    .responsivecopyright {
        display: block;
        padding: 5px;
        padding-left: 40px;
        text-align: center
    }

    /* T&C's and Policy Page's--------------- */
    .subtitle h2 {
        width: 85%;
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
        font-size: 1.25em;
        text-align: center
    }

    .contentssection {
        width: 85%;
        padding-left: 5%;
        padding-right: 5%
    }

    .contentssectionpp {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%
    }
}

/* Tablet Media Querys---------------------------------- */
@media only screen
and (min-width: 766px)
and (max-width: 1024px){  
   /* General--------------- */
    html {
        width: 100%;
        overflow-x: hidden;
    }

    .container {
        display: block;
    }

    .dot {
        height: 6px;
        width: 6px;
        margin-right: 8px;
        background-color: #1c75bc;
        border-radius: 50%;
        display: inline-block;
    }

    /* Header--------------- */
    .brand {
        margin-left: 37.5%;
        padding-top: 10px;
    }
    
    .navbar {
        height: 40px
    }

    .navbarli {
        display: none
    }

    /* Hero--------------- */
    .hero {
        display: block;
        width: 75%;
        height: 360px;
        padding-left: 12.5%;
        padding-right: 12.5%;
        padding-top: 80px; 
        padding-bottom: 40px; 
        align-content: center;
    }

    .herotext {
        padding: 0;
        margin: 0;
    }

    .herotext h1 {
        font-size: 2em
    }

    .herotext h2 {
        font-size: 1.5em
    }

    .herotext p {
        font-size: 1.1em
    }

    .hero a {
        margin: 0;
        margin-right: 5px;
        padding: 0;
        display: inline-block
    }

    .herobutton1 {
        float: right;
        margin-right: 40px;
        margin-top: 10px;
        height: 40px;
        width: 40%;
        text-transform: uppercase;
        background-color: white;
        border: 1px solid grey;
        color: grey;
        text-align: center;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        padding-top: 15px
    }

    .herobutton2 {
        float: left;
        margin-right: 40px;
        margin-top: 10px;
        height: 40px;
        width: 50%;
        text-transform: uppercase;
        background-color:#1c75bc;
        color: white;
        text-align: center;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        padding-top: 15px
    }

    .herotext a {
        padding-top: 15px
    }

    .heroimage {
        display: none;
    }

    /* Services--------------- */
    .services {
        display: inline;
    }
    
    .container {
        padding: 0;
        margin: 0
    }

    .accountmanagement,
    .forexsignals {
        margin: 0;
        padding: 0;
    }

    .accountmanagement {
        display: grid;
        grid-template-columns: repeat(2, 30% 45%);
        grid-column-gap: 0;
        padding: 0;
        margin: 0;
        height: 170px;
        padding-top: 50px;
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .forexsignals {
        display: grid;
        grid-template-columns: repeat(2, 45% 30%);
        grid-column-gap: 0;
        padding: 0;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 50px;
        padding-left: 12.5%;
        padding-right: 12.5%;
        height: 230px;
    }

    .accountmanageimage {
        margin: 0;
        height: 220px;
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 15px
    }

    .forexsignalsimage {
        display: none;
    }

    .signalsimage_mobile {
        display: block;
        margin: 0;
        height: 200px;
        width: 90%;
        padding-left: 0%;
        padding-top: 15px
    }

    .accountmanagement h2,
    .forexsignals h2 {
        font-size: 1.5em;
        margin: 0;
        margin-top: 12px;
    }

    .services p {
        font-size: 1.1em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .accounttext {
        padding-left: 15%
    }

    /* Why Invest--------------- */
    .whyinvest {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
        padding-bottom: 40px
    }

    .whyinvest h2 {
        font-size: 1.5em;
        padding-top: 20px    
    }

    .whyinvest p:nth-child(8) {
        padding-bottom: 20px
    }

    .whyinvest p {
        font-size: 1.1em
    }

    .how_why br {
        display: none
    }

    .why p:nth-child(2) {
        display: none
    }

    .why_not_points {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 0;
        width: 100%
    }

    .why_not_image_div {
        padding-left: 0
    }

    .why_not_image {
        padding: 0;
        margin: 10%;
        width: 80%;
        height: 80%;
    }

    .why_not_bulletpoints {
        width: 100%;
        padding: 0
    }

    /* Analysis--------------- */
    .analysissection {
        display: block;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 75%;
        padding-left: 12.5%;
        padding-right: 12.5%
    }

    .analysissection p {
        font-size: 1.2em
    }

    .tech_analysis {
        width: 100%;
        margin: 0;
        padding: 0
    }

    .fund_analysis {
        width: 100%;
        margin: 0;
        padding: 0

    }

    .fund_analysis h2 {
        padding-top: 40px
    }

    .tech_analysis h2,
    .fund_analysis h2 {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 12px;
        text-align: center
    }

    .tech_analysis p br,
    .fund_analysis p br {
        display: none;
    }

    .fund_analysis {
    margin: 0;
    }

    /* Contact Form--------------- */
    .contactform {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .contact form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 25px;
    }

    #name,
    #phone,
    #email {
        width: 90%
    }

    .callback-info h2 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 15px
    }

    .callback-info p {
        display: none
    }

    .contact p {
        font-size: 1.1em
    }

    /* Socials--------------- */
    .freesignals {
        display: block;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .breakdownimage {
        display: none
    }

    .signalstext h2 {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }

    .textwrapper p {
        padding-left: 12.5%;
    }

    .signalstext p {
        font-size: 1.1em
    }

    .signalssocials {
        display: inline-block;
        width: 77.5%;
        padding-left: 12.5%;
        padding-right: 10%
    }

    .socialicons,
    .socialicons_instagram {
        height: 100px;
        width: 100px;
        margin: 5px
    }

    /* Footer--------------- */
    footer {
        padding-top: 20px
    }

    .footer {
        display: inline;
    }

    footer p {
        font-size: 16px
    }

    .footeraddress {
        display: none;
    }

    .footerlegal {
        margin-top: -15px
    }

    .lowerfooter {
        display: block;
        width: 100%;
        padding-left: 20%;
        padding-right: 10%;
        padding: 20px;
        padding-bottom: 30px;
        text-align: center
    }

    .copyright {
        display: none
    }

    .designedby {
        display: inline-block;
    }

    .designedbytext {
        float: left;
        margin: 0;
        padding: 0;
    }

    .designedbyimage {
        float: right;
        margin: 0;
        padding: 0;
    }

    .responsivecopyright {
        display: block;
        padding: 5px;
        text-align: center
    }
}
/* End---------------------------------- */